parameters:
	level: 5
	fileExtensions:
		- php
	paths:
		- .
	excludePaths:
		analyse:
			- Sha3.php
		analyseAndScan:
			- .phpstan.tmp
	tmpDir: .phpstan.tmp
	bootstrapFiles:
		- example/config.inc.php
	ignoreErrors:
		#- '#is always (true|false)\.#'
		#- '#Call to function assert\(\) with false will always evaluate to false\.#'
		#- '#with no typehint specified\.#'
